<!-- collection banner -->
<section class="banner-goggles ratio2_3" style="margin-bottom:2%">
    <div class="container-fluid">
        <div class="row partition3" style="margin-bottom:2%">
            <div class="col-md-4">
                <a asp-area="Home" asp-controller="Home" asp-action="Privacy">
                    <div class="collection-banner">
                        <div class="img-part">
                            <img src="~/images/electronics/su1.jpg" class="img-fluid blur-up lazyload bg-img" alt="">
                        </div>
                        <div class="contain-banner banner-3">
                            <div>
                                <h4>For Vlog, youtuber</h4>
                                <h2>Vlog</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <div class="collection-banner">
                        <div class="img-part">
                            <img src="~/images/electronics/su2.jpg" class="img-fluid blur-up lazyload bg-img" alt="">
                        </div>
                        <div class="contain-banner banner-3">
                            <div>
                                <h4>For Freelancer, digital business owner</h4>
                                <h2>Work From Home</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <div class="collection-banner">
                        <div class="img-part">
                            <img src="~/images/electronics/su3.jpg" class="img-fluid blur-up lazyload bg-img" alt="">
                        </div>
                        <div class="contain-banner banner-3">
                            <div>
                                <h4>For holiday, camping, packbacker</h4>
                                <h2>Traveller</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row partition3">
            <div class="col-md-4">
                <a href="#">
                    <div class="collection-banner">
                        <div class="img-part">
                            <img src="~/images/electronics/su2.jpg" class="img-fluid blur-up lazyload bg-img" alt="">
                        </div>
                        <div class="contain-banner banner-3">
                            <div>
                                <h4>For holiday, camping, packbacker</h4>
                                <h2>Traveller</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <div class="collection-banner">
                        <div class="img-part">
                            <img src="~/images/electronics/su1.jpg" class="img-fluid blur-up lazyload bg-img" alt="">
                        </div>
                        <div class="contain-banner banner-3">
                            <div>
                                <h4>For holiday, camping, packbacker</h4>
                                <h2>Traveller</h2>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <div class="collection-banner">
                        <div class="img-part">
                            <img src="~/images/electronics/su3.jpg" class="img-fluid blur-up lazyload bg-img" alt="">
                        </div>
                        <div class="contain-banner banner-3">
                            <div>
                                <h4>For holiday, camping, packbacker</h4>
                                <h2>Traveller</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- collection banner end -->
