@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "become a vendor";
}
<!-- breadcrumb start -->
<partial name="../Shared/BreadCrumb" />

<!-- breadcrumb End -->
<!-- about section start -->
<section class="about-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-section">
                    <img src="~/images/about/vendor.jpg" class="img-fluid blur-up lazyload" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end -->
<!-- start selling section start -->
<section class="start-selling section-b-space">
    <div class="container">
        <div class="col">
            <div>
                <h4>start selling</h4>
                <p>
                <h4>Start your business with OzEcommerce & get maximum sell...</h4>
                <p>We are focus on giving maximum retail experience to our customer</p>
                <p>
                    We are focus on motivating customer to buy more products from your store.
                </p>
                </p>

                <a asp-area="Identity" asp-page="/Account/VendorRegister" class="btn btn-solid btn-sm">start selling</a>
            </div>
        </div>
    </div>
</section>
<!-- start selling section end -->
