<ul id="sub-menu" class="sm pixelstrap sm-vertical">
    <li>
        <a href="#">Electronics</a>
        <ul class="mega-menu clothing-menu">
            <li>
                <div class="row m-0">
                    <div class="col-xl-4">
                        <div class="link-section">
                            <h5>Mobile Accessories</h5>
                            <ul>
                                <li><a asp-controller="product" asp-action="ByCategory" asp-route-id="8">Smart Watches</a></li>
                                <li><a asp-controller="product" asp-action="ByCategory" asp-route-id="3">Power Banks</a></li>
                                <li><a asp-controller="product" asp-action="ByCategory" asp-route-id="2">Mobile Cases</a></li>
                                <li><a asp-controller="product" asp-action="ByCategory" asp-route-id="10">Screen Prodectors</a></li>
                                <li><a asp-controller="product" asp-action="ByCategory" asp-route-id="11">Mobile Car Chargers</a></li>
                                <li><a asp-controller="product" asp-action="ByCategory" asp-route-id="12">Mobile Holders</a></li>
                                <li><a asp-controller="product" asp-action="ByCategory" asp-route-id="13">Cables</a></li>
                                <li><a asp-controller="product" asp-action="ByCategory" asp-route-id="14">Adapters</a></li>
                            </ul>
                            <h5>Headphones & EarPhones</h5>
                            <ul>
                                <li><a asp-controller="product" asp-action="ByCategory" asp-route-id="6">Wireless EarPhones</a></li>
                                <li><a asp-controller="product" asp-action="ByCategory" asp-route-id="7">Wire Earphones</a></li>
                                <li><a asp-controller="product" asp-action="ByCategory" asp-route-id="17">Wireless Headphones</a></li>
                                <li><a asp-controller="product" asp-action="ByCategory" asp-route-id="18">Wire Headphones</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="link-section">
                            <h5>Speakers</h5>
                            <ul>
                                <li><a asp-controller="product" asp-action="ByCategory" asp-route-id="20">Portable Speakers</a></li>
                                <li><a asp-controller="product" asp-action="ByCategory" asp-route-id="21">Speaker System</a></li>
                                <li><a asp-controller="product" asp-action="ByCategory" asp-route-id="22">Soundbar Speakers</a></li>
                            </ul>
                            <h5>Tablet & Computer Accessories</h5>
                            <ul>
                                <li><a asp-controller="product" asp-action="ByCategory" asp-route-id="24">Cables</a></li>
                                <li><a asp-controller="product" asp-action="ByCategory" asp-route-id="25">Other</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <a href="#" class="mega-menu-banner">
                            <img src="~/images/electronic.jpg"
                                 alt="" class="img-fluid blur-up lazyload">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>
