@{
    Layout = "../Shared/_CustomerLayout.cshtml";
}

@model OzEcommerceV14.Models.Account
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Add Detail
                        <small> Customer panel</small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">

                    <li class="breadcrumb-item active">Account</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <form method="post" asp-controller="Customer" asp-action="AddAccount"
                class="needs-validation add-product-form" novalidate="" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-header">
                        <h5>Add your Detail</h5>
                    </div>
                    <div class="card-body">
                        <div class="row product-adding">
                            <div class="col-xl-12">
                                <div class="form">
                                    <div class="form-group mb-3 row">
                                        <label for="validationCustom01" class="col-xl-3 col-sm-4 mb-0">Full Name:
                                        </label>
                                        <input asp-for="FullName" class="form-control col-xl-8 col-sm-7" id="FullName"
                                            type="text" required="">
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label for="validationCustom01" class="col-xl-3 col-sm-4 mb-0">Email :</label>
                                        <input asp-for="Email" class="form-control col-xl-8 col-sm-7" id="Email"
                                            type="text" required="">
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>

                                    <div class="form-group mb-3 row">
                                        <label for="validationCustomUsername" class="col-xl-3 col-sm-4 mb-0">Mobile
                                            Number:</label>
                                        <input asp-for="Phone" class="form-control col-xl-8 col-sm-7" id="Phone"
                                            type="text" required="">
                                        <div class="invalid-feedback offset-sm-4 offset-xl-3">Looks good!</div>
                                    </div>
                                </div>
                                <div class="offset-xl-3 offset-sm-4">
                                    <button type="submit" value="AddAccount" class="btn btn-primary">ADD</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Container-fluid Ends-->
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
