<section class="p-0">
    <div class="slide-1 home-slider">
        <div>
            <div class="home  text-center">
                <img src="~/images/home-banner/2.png" alt="" class="bg-img blur-up lazyload">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h4>Check there tag line</h4>
                                    <h1>Find passionated Seller</h1>
                                    <a href="#" class="btn btn-solid">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="home text-center">
                <img src="~/images/home-banner/1.png" alt="" class="bg-img blur-up lazyload">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h4>Check there tag line</h4>
                                    <h1>Find passionated Seller</h1>
                                    <a href="#" class="btn btn-solid">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
